:root {
  --primary-brand-color: #d9d9d9;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --hero-background: #2e2f42;
  --modal-background: #fcfcfc;
  --logo-color: #4d5ae5;
  --light-background: #ffffff;
  --another-background: #f4f4fd;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--light-background);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.project-link {
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--pressed-state-color);
}

.button:hover,
.button:focus {
  background-color: var(--pressed-state-color);
  color: var(--light-background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: var(--pressed-state-color);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* Header*/
.header {
  border-bottom: 1px solid var(--accent-color);
  padding: 25px 0;
}

.header-container {
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  margin-right: 76px;
}

.logo-header {
  color: var(--dark-color);
}

.logo-footer {
  color: var(--another-background);
}

.navigation {
  display: flex;
  margin-right: auto;
}

.navigation-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  display: flex;
  gap: 40px;
}

.contacts {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.contacts-list {
  display: flex;
}
.menu {
}

.phone {
  margin-right: 40px;
}
.mail {
  margin-right: 156px;
}

.visually-hidden {
  position: absolute;
  top: -150%;
  z-index: -100;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  pointer-events: none;
  cursor: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  outline: none;
  white-space: nowrap;
}

/* Main */

.hero {
  background-color: var(--dark-color);
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-text {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--light-background);
  width: 496px;
  margin: 0 auto;
}
.hero-btn {
  min-width: 169px;
  height: 56px;
  background-color: var(--logo-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--light-background);
  cursor: pointer;
  display: block;
  margin: 48px auto 0 auto;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-list li {
  width: calc((100% - 72px) / 4);
}
.advantages-items {
}
.advantages-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}
.advantages-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.works {
  padding-bottom: 120px;
}

.works-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}
.works-list {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}

.works-list-picture {
  width: calc((100% - 48px) / 3);
}

.team {
  background-color: var(--another-background);
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}
.team-list {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}

.team-list-picture {
  background-color: var(--light-background);
  width: calc((100% - 72px) / 4);
}
.team-list-name {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.team-list-text {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-top: 8px;
}

.team-card-sign {
  padding: 32px 16px;
}

/* FOOTER */

.basement {
  background-color: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.basement-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--another-background);
  margin-top: 16px;
  width: 264px;
}

/* Portfolio */

.projects {
  padding-top: 96px;
  padding-bottom: 120px;
}
.projects-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.filters-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.filters-item {
}
.portfolio-btn {
  background-color: var(--another-background);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 12px 24px;
}

.projects-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin-top: 72px;
}

.projects-list li {
  width: calc((100% - 48px) / 3);
}

.project-card {
}
.projects-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.projects-title {
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-top: 8px;
}

.portfolio-card-sign {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
